
.hidden{display:none}


* {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}

:-moz-any-link:focus {
  outline: none;
}




    .loader{
    margin:0;
    position:absolute;
    top:30%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
        }
        
        



img{
    border: none;
}	


#en, #tc{
	position:absolute;
	right:0;
	margin-right:20px;
	top:5px;
	cursor:pointer;
	width:40px;
	height:40px
}

.btn{
     background-color: #FFAC00;
     border: none;
     cursor:pointer
    
}

#str-btn, #map-btn, #sch-btn{

            top:10px;	
            position:absolute;
            cursor: pointer;
            background-color: #FFAC00;
            border: none;
            

}

.imageBtn{
    width:48px
}

#str-btn, #map-btn{
right:65px
	
}

#sch-btn{
    right:10px;       
}

#all-btn{
    right:20px;
    top:100px;
    z-index: 2;
    position: absolute;
    border:none;
}

#footer{
	background-color:#FFAC00;
	width:100%;
	font-size: 0.8em;  
	padding-left:0.5em;
	border-top: 1px solid rgba(52,152,219,.1);
	text-align: left;
	color:white;
	font-family:"cabin";
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position:fixed;
	bottom:0;
	z-index:2
  
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top:50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
}


/* Modal Content/Box */


.modal-content{
    position: relative;
    background-color: #48b5e9;    
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
    width: 80%;
    max-width: 500px;
    min-height:2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    
    

}

.modal-wrapper{
    border: 2px solid #fff;
    border-radius:10px;
    background-color: #48b5e9;
    padding: 10px 5px 5px 0px;    
}

@media screen and (max-width: 25em) {
    .modal{
        padding-top: 20px;
    }
    .modal-content{
        width:100%;
    }
    
    #country_list_id li{
        font-size:1.5em;
    }
    
    #country_id{
        height:2em
    }
    
}@media screen and (max-width: 340px) {
    
.imageBtn{
    width:40px
        
        
}

#sch-btn{
    right:2px;
}

#str-btn, #map-btn{
            right: 48px
    }
    
    #logo{
height: 40px;

        
    }


}

/*wrapper the search input box*/
.modal-header {
    padding: 10px 10px 0px 10px;
    background-color: #48b5e9;
    color: black;
    height:100%;
    min-height:10px;
    max-width:100%;
}

.search_container{
    padding:0px 5px 0px 5px;
}

#searchIcon{
    color:white;
    float:left;
    margin-right: 10px;
    margin-top: 2px;
}
/*#country_id: search input box*/

#country_id{
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    height:100%;
    color: #111111;
    width: 40%;
    max-width: 75%;
    font-family:"cwTeXHei", "cabin","微軟正黑體";
    
    background-image: url(s.png);
    

}

#country_id:focus {
    width: 75%;
}

/* result list body */

.modal-body {
    
    padding: 0px 0px 5px -500px; 
    height:100%;
    min-height: 0px;
    width:100%;
    margin: 0;
    background-color: #48b5e9;
    overflow:auto;  
    
}


/*  #country_list_id:  search result list*/

#country_list_id li, #searchResult{
    
    font-family:"cwTeXHei","微軟正黑體","cabin";
    background-color: #48b5e9;    
    color: #fff;
    
}

#searchResult:hover, #country_list_id li:hover{   

    color: yellow;  
    
}

#country_list_id li{
    margin:10px 0 10px 0;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top:-5px;
}

.close:hover,
.close:focus {

    cursor: pointer;
}




/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.gm-style-iw {
   width: 250px !important;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px #48b5e9;
   border: 1px solid #48b5e9;
   border-radius: 5px 5px 5px 5px; 
   
   }
	
#iw-container, .iw-title {
	
   font-family: 'cwTeXHei', "cabin";
   font-size: 1em;
       
   margin: 1px 1px 1px 1px;   
   text-align:center;
   border-radius: 5px 5px 5px 5px; 
   min-height: 80px;
   overflow: hidden;
}

#iw-container{     
    background-color: #48b5e9;     
    width:246px;
    
}

.iw-right-content{
    min-height: 50px;
    position:absolute; 
    margin:0;
    padding:5px 5px 5px 5px;
    width:50px;
    right:0;    
    float:right;
    background-color: #48b5e9;  
    top:50%;
    transform:translate(0,-50%);

}

.iw-title p{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
    font-size: 0.9em;
    
}

.iw-title p span{
    font-size: 0.8em;
    font-weight:lighter;
    font-family:"cwTeXHei", "serif","微軟正黑體";
    
}


.iw-title {    
    position:relative;
    border-radius: 5px 0px 0px 5px; 
    background-color: white; 
    color:#48b5e9;
    width:196px;    
    overflow-wrap: break-word;
    
}



.mp-level ul li{    
    
    font-family:"cwTeXHei","微軟正黑體","cabin";
}

.subMenu:hover, .subMenu:focus{
    
    color:yellow;
}




#disTitle, #locTitle, #areTitle, #regTitle{
    font-size: 1.5em;    
    font-weight:100;
    font-family:"cwTeXHei", "cabin","微軟正黑體";
    
    
}
	
	
